.pomodorro {
    height: 200px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3240ff+0,5e28ff+50,ffffff+50,ffffff+100 */
  background: #3240ff; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #3240ff 0%,
    #5e28ff 0%,
    #ffffff 0%,
    #ffffff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #3240ff 0%,
    #5e28ff 0%,
    #ffffff 0%,
    #ffffff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to left,
    #3240ff 0%,
    #5e28ff 0%,
    #ffffff 0%,
    #ffffff 100%
  );
}

.todoActive {
  background: aqua;
  border-radius: 3px;
}
